* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.address_box {
    width: 100%;
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
}

.header {
    height: 90px;
    width: 100%;
    background: blue;
    border: 0px solid blue;
    z-index: 9999;
}

.header__container {
    width: 400px;
    height: 63px;
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.header__h1 {
    width: 400px;
    height: 63px;
    font-size: 55px;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    text-align: left;
}

main {
    position: relative;
    margin-top: 120px;
    flex: 1 0 auto;
}

.sidebar {
    position: fixed;
}

.sidebar__case {
    width: 280px;
    min-height: 450px;
    border-right: 2px solid #C4C4C4;
    margin: 27px 0 0 0;
}

.sidebar__content {
    padding: 0 0 0 20px;
}

.sidebar__h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 23px 0;
}

.sidebar__info-search {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 11px;
}

.sidebar__info-link {
    color: #FF710B;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.search-line {
    position: fixed;
    top: 80px;
    left: 300px;
    width: 80%;
    padding: 10px;
    z-index: 50;
}

.search-line__from-case {
    width: 100%;
}

.search-line__from {
    text-align: center;
}

.search-line__input {
    height: 50px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid seashell;
}

.search-line__input focus {
    color: darkslategrey;
    background-color: #FFFFFF;
    background-color: #C4C4C4;
    outline: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 5px 2px steelblue;    
}

.search-line__input::-moz-placeholder {
    padding: 0 0 0 15px;
    font-size: 16px;
}

.search-line__input:-ms-input-placeholder {
    padding: 0 0 0 15px;
    font-size: 16px;
}

  .search-line__input::placeholder {
    padding: 0 0 0 15px;
    font-size: 16px;
}

.search-line__input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

  .search-line__input:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.search-line__submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 8px;
    background: steelblue;
    color: #FFFFFF;
    padding: 7px 15px;
}

. .search-line__submit:hover {
    background-color: navy;
    cursor: pointer;
    transition: 0.3s;
}

.search-line__submit:focus {
    outline: none;
    box-shadow: 0 0 5px 2px steelblue;
}

.search-line__alphabet {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0 0;
}

.search-line__alphabet-link {
    text-decoration: none;
    color: #FF710B;
    margin: 0 0 0 12px;
}

.search-line__alphabet-link:hover {
    text-decoration: wavy;
}

.surnames {
    position: absolute;
    left: 340px;
    width: 70%;
    z-index: -1;
}

.surnames__case {
    background-color: #FFFFFF;
}

.surnames__box {
    background-color: #FFFFFF;
}

.surnames__box-subtitle {
    position:-webkit-sticky;
    position: sticky;
    top: 190px;
    text-transform: uppercase;
    background-color: #0158f9;
    display: block;
    width: 100%;
    color: #FFFFFF; 
    padding: 5px 5px 5px 10px;
}

.surnames__box-list {
    font-size: 22px;
    padding: 10px;
    margin-top: 20px;
}

.surnames__box-name {
    margin-bottom: 10px;
}
  
*[id]:before {
    display: block;
    content: " ";
    margin-top: -170px;
    height: 180px;
    visibility: hidden;
}

.footer {
    flex: 0 0 auto;
    position: fixed;
    bottom: -20px;
    right: 0;
    width: 100%;
    margin: 0;
}

.footer__case {
  background: rgba(105, 103, 103, 0.696);
  width: 100%;
}

.footer__text {
    text-align: center;
    font-weight: 300;
    letter-spacing: 15px;
    padding: 12px;
    color: rgba(255, 255, 255, 0.8);
}